In [1]:
!pip install requests

Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2019.11.28)

In [2]:
import pandas as pd
import numpy as np

Importing the dataset

In [3]:
df=pd.read_csv('closed_first_teliko.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,8,9,15,17,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df

,Unnamed: 0,Company name,Registered number,Primary UK SIC (2007) code,Latest accounts date,Website,E-mail address,Company status,Status date,Number of employees\nLast avail. yr,...,Current Liabilities\nth GBP Last avail. yr,Long Term Liabilities\nth GBP Last avail. yr,Cost of Sales\nth GBP Last avail. yr,Taxation\nth GBP Last avail. yr,Turnover\nth GBP Last avail. yr,EBITDA\nth GBP Last avail. yr,EBIT margin (%)\nLast avail. yr,Profit (Loss) for period [=Net income]\nth GBP Last avail. yr,Liquidity Ratio (x)\nLast avail. yr,Profit (Loss) before Taxation\nth GBP Last avail. yr
0,1.0,RIO TINTO INDONESIAN HOLDINGS LIMITED,03074852,70100.0,31/12/2018,www.riotinto.com,NaN,Active,NaN,2,...,"-8,876",NaN,NaN,NaN,"2,005,067","2,002,549",99.87,"2,002,825",6.04,"2,002,825"
1,2.0,HARROGATE HEALTHCARE LLP,OC368402,71200.0,31/03/2019,www.harrogateharlow.co.uk,NaN,Active,NaN,11,...,"-254,416","-210,296","-773,498",NaN,"1,063,581","27,631",1.98,"-6,027",0.71,"-6,027"
2,3.0,STONEACRE LIMITED,07403794,70100.0,30/04/2019,www.stoneacre.co.uk,reception.headoffice@stoneacre.co.uk,Active,NaN,"2,709",...,"-209,273","-8,721","-842,886","-3,633","982,052","22,628",1.89,"13,372",0.30,"17,005"
3,4.0,CRAYON LIMITED,04055519,62020.0,31/12/2018,www.crayon.com,info@crayon.com,Active,NaN,NaN,...,"-212,264","-45,332","-684,793","-3,874","819,381","16,035",1.11,"1,391",0.99,"4,870"
4,5.0,THE TENNIS & RACKETS ASSOCIATION LIMITED,07819045,93120.0,30/06/2018,www.tennisandrackets.com,executive@tennisandrackets.com,Active,NaN,4,...,"-59,100",NaN,NaN,NaN,"431,400","80,600",18.68,"155,700",4.67,"155,700"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901718,11719.0,GENERAL CEMETERY COMPANY,ZC000136,96030.0,01/04/2019,www.kensalgreencemetery.com,enquiries@kensalgreencemetery.com,Active,NaN,23,...,-84,-26,NaN,NaN,NaN,NaN,NaN,NaN,13.03,NaN
901719,11720.0,LANDS IMPROVEMENT COMPANY,ZC000147,64921.0,31/03/2019,www.landsimprovement.com,lloyd@lih.co.uk,Active (dormant),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901720,11721.0,PAIGNTON PIER COMPANY,ZC000169,NaN,28/02/2014,www.paigntonpier.co.uk,DONEATHY@LINEONE.NET,Active (dormant),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901721,11722.0,WHITSTABLE OYSTER FISHERY COMPANY (THE),ZC000190,68209.0,31/05/2019,www.whitstableoystercompany.com,oystercobookings@hotmail.com,Active,NaN,2,...,-246,-339,NaN,NaN,NaN,NaN,NaN,NaN,2.43,NaN
901722,11723.0,SEAHAM HARBOUR DOCK COMPANY,ZC000191,52241.0,30/09/2019,www.seahamharbour.com,info@seahamharbour.com,Active,NaN,54,...,"-1,175",-550,NaN,NaN,NaN,NaN,NaN,NaN,1.14,NaN

Dropping Duplicates

In [10]:
df=df.drop_duplicates(subset='Website', keep="first",ignore_index=True)

Creating a subset

In [5]:
sample=df[:20000]

In [ ]:
from urllib.request import urlopen, Request,build_opener, HTTPCookieProcessor
from bs4 import BeautifulSoup
import urllib.request
import http.client 
import requests
import time
import ssl
import socket
import os
twit={}
fb={}
yout={}
linke={}
insta={}
errors=[]
n_err={}
count=0
for i in sample['Website']:
    count=count+1
    print(i,count)
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.3'}
    context = ssl._create_unverified_context()
    url="http://{}/".format(str(i))

    try:
        page=requests.get(url=url,headers=headers,timeout=10)
        page.status_code
#         req=Request(url=url,headers=headers)
#         response=urlopen(req,timeout=45,context=context)
        
    except:
        print('not enable to retrive social media ID')
        continue
    soup = BeautifulSoup(page.text,'html.parser')#,from_encoding=response.info().get_param('charset'))
    #print(i)
    for link in soup.find_all('a', href=True):
        if "twitter" in link["href"]:
             if "https://twitter.com/" in link['href'] and "share?" not in link['href']:
                    #print(link['href'])
                    #test['twit']=(link['href'][20:])
                    twit[i]=link['href'][20:]
                    break
             if "http://twitter.com/" in link['href'] and "share?" not in link['href']:
                    #print(link['href'])
                    #test['twit']=(link['href'][19:])
                    twit[i]=link['href'][19:]
                    break
             if "https://www.twitter.com/" in link['href'] and "share?" not in link['href']:
                    #print(link['href'])
                    #test['twit']=(link['href'][23:])
                    twit[i]=link['href'][24:]
                    break
             if "http://www.twitter.com/" in link['href'] and "share?" not in link['href']:
                    #print(link['href'])
                    #test['twit']=(link['href'][23:])
                    twit[i]=link['href'][23:]
                    break
                    
        if "facebook.com" in link['href']:
            fb[i]=link['href'][25:]
            
        if "instagram.com" in link['href']:
            insta[i]=link['href']
            
        if "youtube" in link['href']:
            yout[i]=link['href']
            
        if "linkedin.com" in link['href']:
            linke[i]=link['href'][33:]
                    
                    
    else:
        n_err[i]=np.nan

www.riotinto.com 1
www.harrogateharlow.co.uk 2

In [ ]:
# from urllib.request import urlopen, Request,build_opener, HTTPCookieProcessor
# from bs4 import BeautifulSoup
# import urllib.request
# import http.client 
# import requests
# import time
# import ssl
# import socket
# import os
# twit={}
# fb={}
# yout={}
# linke={}
# insta={}
# errors=[]
# n_err={}
# count=0
# for i in sample['Website']:
#     count=count+1
#     print(i,count)
#     headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.3'}
#     context = ssl._create_unverified_context()
#     url="http://{}/".format(str(i))

#     try:
#         req=Request(url=url,headers=headers)
#         response=urlopen(req,timeout=45,context=context)
        
#     except:
#         print('den uparxei h lathos gamw to spiti')
#         continue
#     soup = BeautifulSoup(response,'html.parser',from_encoding=response.info().get_param('charset'))
#     #print(i)
#     for link in soup.find_all('a', href=True):
#         if "twitter" in link["href"]:
#              if "https://twitter.com/" in link['href'] and "share?" not in link['href']:
#                     #print(link['href'])
#                     #test['twit']=(link['href'][20:])
#                     twit[i]=link['href'][20:]
#                     break
#              if "http://twitter.com/" in link['href'] and "share?" not in link['href']:
#                     #print(link['href'])
#                     #test['twit']=(link['href'][19:])
#                     twit[i]=link['href'][19:]
#                     break
#              if "https://www.twitter.com/" in link['href'] and "share?" not in link['href']:
#                     #print(link['href'])
#                     #test['twit']=(link['href'][23:])
#                     twit[i]=link['href'][24:]
#                     break
#              if "http://www.twitter.com/" in link['href'] and "share?" not in link['href']:
#                     #print(link['href'])
#                     #test['twit']=(link['href'][23:])
#                     twit[i]=link['href'][23:]
#                     break
                    
#         if "facebook.com" in link['href']:
#             fb[i]=link['href'][25:]
            
#         if "instagram.com" in link['href']:
#             insta[i]=link['href']
            
#         if "youtube" in link['href']:
#             yout[i]=link['href']
            
#         if "linkedin.com" in link['href']:
#             linke[i]=link['href'][33:]
                    
                    
#     else:
#         n_err[i]=np.nan

Number of companies having a socila media account for Instagram, Youtube,LinkedIn, Facebook and Twitter

In [15]:
print(len(insta))
print(len(yout))
print(len(linke))
print(len(fb))
print(len(twit))

497
245
624
2464
2686

In [ ]:
# ll=[]
# for line in twit:
#         if line.startswith("https://twitter.com/"):
#             ll.append(line[20:])
#         if line.startswith("http://twitter.com/"):
#             ll.append(line[19:])
# intent=[]
# for i in ll:
#     if "intent/" not in  i:
#         if "hashtag" not in  i:
#             if "status" not in i:
#                 if "share?" not in i:
#                     if "search?" not in i:
#                         if "?ref_src" not in i:
#                             intent.append(i)
# res = [] 
# for i in intent: 
#     if i not in res: 
#         print(i)
#         res.append(i)

Creating dataframes out of dictionaries using the Website identifier as a common key

In [16]:
tweet = pd.DataFrame(list(twit.items()),columns = ['Website','Twitter'])
faceb = pd.DataFrame(list(fb.items()),columns = ['Website','Facebook'])
inst = pd.DataFrame(list(insta.items()),columns = ['Website','Instagram'])
ytube = pd.DataFrame(list(yout.items()),columns = ['Website','Youtube'])
linked = pd.DataFrame(list(linke.items()),columns = ['Website','LinkedIn'])

Merging the datasets with the initial dataset using inner and left join

In [17]:
dfinal = sample.merge(tweet, on="Website",how="inner")
dfinal = dfinal.merge(faceb, on="Website",how="left")
dfinal = dfinal.merge(inst, on="Website",how="left")
dfinal = dfinal.merge(ytube, on="Website",how="left")
dfinal = dfinal.merge(linked, on="Website",how="left")

In [18]:
dfinal

,Unnamed: 0,Company name,Registered number,Primary UK SIC (2007) code,Latest accounts date,Website,E-mail address,Company status,Status date,Number of employees\nLast avail. yr,...,EBIT margin (%)\nLast avail. yr,Profit (Loss) for period [=Net income]\nth GBP Last avail. yr,Liquidity Ratio (x)\nLast avail. yr,Profit (Loss) before Taxation\nth GBP Last avail. yr,diff,Twitter,Facebook,Instagram,Youtube,LinkedIn
0,26374.0,MERLIN UNWIN BOOKS LIMITED,5441657,58110.0,2019-04-30,www.merlinunwin.co.uk,books@merlinunwin.co.uk,Active,NaN,4.0,...,NaN,NaN,2.75,NaN,251.0,merlinunwin,merlinunwinbooks,NaN,NaN,NaN
1,26377.0,MAYNARD DESIGN CONSULTANCY LIMITED,5441694,70229.0,2019-03-31,www.maynard-design.com,info@maynard-design.com,Active,NaN,NaN,...,NaN,NaN,12.64,NaN,281.0,maynarddesign/,NaN,NaN,NaN,NaN
2,26379.0,QL2 EUROPE LTD,5441709,62090.0,2018-12-31,www.ql2.com,sales@QL2.com,Active,NaN,2.0,...,NaN,NaN,4.55,NaN,371.0,QL2,QL2-136606050218758/,NaN,NaN,NaN
3,26387.0,TIER ENVIRONMENTAL LIMITED,5441804,74901.0,2019-03-31,www.tieruk.com,environmental@tieruk.com,Active,NaN,15.0,...,NaN,NaN,1.24,NaN,281.0,tierconsult,NaN,NaN,NaN,NaN
4,26391.0,VULCAN FIRE TRAINING CO LTD,5441853,85590.0,2019-03-31,www.vulcanfiretraining.co.uk,info@vulcanfiretraining.co.uk,Active,NaN,5.0,...,NaN,NaN,4.84,NaN,281.0,VulcanFireTrain,NaN,NaN,NaN,4121085?trk=tyah&trkInfo=idx%3A1-1-1%2CtarId%3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2681,43305.0,CHASE MEDIA SOLUTIONS LIMITED,5628515,73110.0,2019-03-31,www.chasemedia.co.uk,info@chasemedia.co.uk,Active,NaN,2.0,...,NaN,NaN,1.39,NaN,281.0,ChaseMediaUK,NaN,NaN,NaN,NaN
2682,43306.0,ALIZA'S FOODS LIMITED,5628521,46170.0,2018-11-30,www.alizasfood.com,info@alizasfood.com,Active,NaN,6.0,...,NaN,NaN,0.89,NaN,402.0,alizasfoodpk,NaN,NaN,NaN,NaN
2683,43313.0,UKDAPPER COMMUNICATIONS LIMITED,5628606,47910.0,2018-12-31,www.ukdapper.co.uk,sales@ukdapper.co.uk,Active,NaN,NaN,...,NaN,NaN,0.13,NaN,371.0,UKDapper,UKDapperCommunications/,NaN,NaN,NaN
2684,43320.0,MAKE IT EALING LIMITED,5628657,82990.0,2019-03-31,www.makeitealing.co.uk,info@makeitealing.co.uk,Active,NaN,2.0,...,NaN,NaN,2.32,NaN,281.0,makeitealing,NaN,https://instagram.com/makeitealing,NaN,NaN
2685,43322.0,CHOOSE LTD,5628680,62090.0,2018-11-30,www.choose.co.uk,NaN,Active,NaN,NaN,...,NaN,NaN,3.94,NaN,402.0,ChooseUK,NaN,NaN,NaN,NaN

Saving the final data set into a csv file

In [19]:
dfinal.to_csv('closed_final_{}-{}.csv'.format(int(sample[0:1].index.values),count+int(sample[0:1].index.values)), index=False)